$background-main: #0c1317;

$background-app: (#262524, #0c1317);

$background-secondary: rgb(32, 44, 51);

$input-color: #2a3942;

$icon-color: #8696a0;

$outgoing-message-background: #005c4b;
$incoming-message-background: #202c33;